POSTGRES_USER=jobtracker
POSTGRES_PASSWORD=changeme
POSTGRES_DB=jobtracker
# "localhost" when running the API on the host; "db" when running inside docker compose
POSTGRES_HOST=localhost
POSTGRES_PORT=5432

TELEGRAM_BOT_TOKEN=
TELEGRAM_CHAT_ID=
